doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DPVW Demo

    script(src="https://unpkg.com/@unocss/runtime@0.55.2/uno.global.js")
    link(
      rel="stylesheet" type="text/css"
      href="https://unpkg.com/@unocss/reset@0.55.2/tailwind.css"
    )

    script(type="text/javascript" src="https://jsd.cdn.zzko.cn/gh/vanjs-org/van/public/van-1.0.1.nomodule.min.js")

  body

script(type="module" src='./static/index.bundle.js')
